@import url(http://weloveiconfonts.com/api/?family=brandico);

body {
    background: url('../images/backgrounds/1.jpg');
    font-family: "Kaushan Script";
    color: #fff;
    text-transform: uppercase;
    font-size: 20pt;
}
.quota {
    font-size: 40pt;
}
.quota-author {
    font-size: 10pt;
    margin-top: 20px;
}
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    opacity: 0.2;
    margin: 5px;
    font-size: 20pt;
}
.glyphicon {
    opacity: 0.2;
}
.tooltip.bottom > .tooltip-arrow {border-bottom-color: #5A1116;}
.tooltip > .tooltip-inner {background-color: #5A1116;}
