@import url(http://weloveiconfonts.com/api/?family=brandico);

body {
    background: url('../images/backgrounds/1.jpg');
    font-family: "Kaushan Script";
    color: #fff;
    text-transform: uppercase;
    font-size: 20pt;
}
input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.quota {
    font-size: 40pt;
}
.quota-author {
    font-size: 10pt;
    margin-top: 20px;
}
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;

    margin: 5px;
    font-size: 20pt;
}
.glyphicon {
    opacity: .2;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;

    cursor: pointer;
}
.glyphicon:hover {
    opacity: 1;
}
.social {
    opacity: .2;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;

    cursor: pointer;
}
.social:hover {
    opacity: 1
}
.tooltip.bottom > .tooltip-arrow {border-bottom-color: #5A1116;}
.tooltip > .tooltip-inner {background-color: #5A1116;}
.modal-header, .modal-footer {
    border: 0px;
    text-align: center;
}
.modal-content {
    background: url('../images/backgrounds/1.jpg');
}
.form-group {
    font-size: 0.4em;
}
#previusQuote, #nextQuote {
    margin-top: 120px;
    display: block;
}
.votes {
    font-size: 0.5em;
    display: block;
    padding: 4px;
}